.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6b0b1b;
    padding: 0 1rem;
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}

.header h1 {
  font-size: 2rem;
  line-height: 1.1;
}